@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
body{
  color: black;
  background-color: white;
}

/* styles.css */
.carouselContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.logoSlider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  animation: slide 10s linear infinite; /* Adjust animation duration as needed */
}

.logo {
  flex: 0 0 100%;
  margin-right: 20px; /* Adjust spacing between logos */
  transition: opacity 0.5s;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}
