@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
body{
  color: black;
  background-color: white;
}

.logo-slider-container {
  display: flex;
  margin: auto;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 400px;
}

.logo-slider {
  display: flex;
  align-items: center;
  animation: slideRightToLeft 17.5s linear infinite;
}

.logo-slider.paused {
  animation-play-state: paused;
}

.logo-slide {
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.logo-slide:hover {
  transform: scale(.9); /* Increase the scale factor as per your preference */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
  opacity: 0.8; /* Reduce opacity on hover */
}


.logo-slider img {
  width: 100px; /* Lățimea logo-urilor */
  height: auto;
  margin-right: 300px; /* Spațierea dintre logo-uri */
}

@keyframes slideRightToLeft {
  from {
    transform: translateX(0%); /* Logo-urile pornesc în afara ecranului dreapta */
  }
  to {
    transform: translateX(-100%); /* Logo-urile trec complet prin ecran și apar din nou la dreapta */
  }
}

